.postPadelMatch-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
    gap: 20px;
    background-color: var(--app-color-primary);
}
