.postPadelMatch-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    gap: 15px;
    background-color: #d6d6d6dd;
    color: var(--app-color-letterTwo);
}

.postPadelMatch-form > p {
    margin-top: 20px;
    color: var(--app-color-message);
}
