#CreatePadelMatch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--app-padding-s);
    background-image: url("assets/pista.webp");
    background-position: center;
    background-size: cover;
    min-height: 92svh;
}

@media (width >= 768px) {
    #CreatePadelMatch > h1 {
        font-size: xx-large;
    }
}
