#CreatePadelMatch {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--app-color-tertiary);
    min-height: 92svh;
    /* padding: 50px; */
}

#CreatePadelMatch > h1 {
    padding: 30px;
    text-align: center;
}

#CreatePadelMatch > button {
    margin-top: 20px;
}