#Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    background-image: url("assets/fondo2.webp");
    background-size: cover;
    background-position: center;
    min-height: 92svh;
}
