#Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    background-color: var(--app-bgcolor-tertiary);
    min-height: 92svh;
}
