@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

:root {
    /*FONTS*/
    --app-font-family: "Montserrat Alternates";
    --app-font-family-alternative: "Cambria, Cochin, Georgia, Times, " Times New Roman ", serif";

    /*COLORS*/
    --app-color-messageError: #ff0000;
    --app-color-messageSuccess: #008000;
    --app-color-letterW: #ffffff;
    --app-color-letterB: #000000;

    --app-bgcolor-primary: #4c93c1;
    --app-bgcolor-secondary: #fff976;
    --app-bgcolor-tertiary: #86fb88;
    --app-bgcolor-body: #d6d6d6dd;
    --app-bgcolor-cards: #75bcffaa;
    --app-bgcolor-modal: #dddddd;
    --app-bgcolor-button: #ffffff;
    --app-bgcolor-buttonBack: #bdbdbd;

    /*MARGIN*/
    --app-margin-xxs: 5px;
    --app-margin-xs: 10px;
    --app-margin-s: 15px;
    --app-margin-m: 20px;
    --app-margin-l: 30px;
    --app-margin-xl: 40px;
    --app-margin-xxl: 50px;

    /*PADDING*/
    --app-padding-xxs: 5px;
    --app-padding-xs: 10px;
    --app-padding-s: 15px;
    --app-padding-m: 20px;
    --app-padding-l: 30px;
    --app-padding-xl: 40px;
    --app-padding-xxl: 50px;

    /*GAP*/
    --app-gap-xxs: 5px;
    --app-gap-xs: 10px;
    --app-gap-s: 15px;
    --app-gap-m: 20px;
    --app-gap-l: 25px;
    --app-gap-xl: 30px;
    --app-gap-xxl: 50px;

    /*BORDER*/
    --app-border-xxs: 2px;
    --app-border-xs: 3px;
    --app-border-s: 5px;
    --app-border-m: 8px;
    --app-border-l: 10px;
    --app-border-xl: 50px;
    --app-border-xxl: 100px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--app-font-family);
}

body {
    background-image: url("assets/screenMobile.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@media (width >= 768px) {
    body {
        background-image: url("assets/screenLaptop.webp");
    }
}
