.padel-match-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    margin: 20px;
    padding: 30px;
    gap: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.padel-match-card:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.padel-match-card-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid yellow;
    filter: grayscale();
}

.padel-match-card-image:hover {
    filter: none;
}

.error-message {
    margin-top: 20px;
    color: var(--app-color-message);
}

.success-message {
    margin-top: 20px;
    color: var(--app-color-messageOk);
}

.player-padel-match {
    border: none;
    object-fit: cover;
    transition: all 0.5s;
}

.player-padel-match:hover {
    transform: scale(1.1);
}

.disable {
    cursor: not-allowed;
    opacity: 0;
    pointer-events: none;
}

.join-btn:hover {
    transition: all 0.5s;
}

.join-btn:hover {
    background-color: var(--app-color-letterOne);
    color: var(--app-color-letterTwo);
    border: 2px solid var(--app-color-letterTwo);
    box-shadow: 2px 2px;
    transform: scale(1.1);
}

.modal {
    display: flex;
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.modal-show {
    opacity: 1;
    pointer-events: unset;
    z-index: 99999999;
}

.modal__container {
    margin: auto;
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    border: 2px solid black;
    background-color: #dddddd;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
    z-index: 99999999;
}
