.btn-back {
    display: flex;
    align-items: center;
    padding: var(--app-padding-xs);
    gap: var(--app-gap-xs);
    background-color: var(--app-bgcolor-buttonBack);
    color: var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterB);
}

.btn-back:hover {
    background-color: var(--app-bgcolor-secondary);
    color: var(--app-color-letterB);
    border: var(--app-border-xxs) solid var(--app-color-letterW);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterW);
}

.img-btn-back {
    width: 25px;
    height: 25px;
}