#Logout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--app-padding-m);
    background-image: url("screenPlayerServiceBW.webp");
    background-position: center;
    background-size: cover;
    min-height: 92svh;
}

.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--app-padding-m);
    gap: var(--app-gap-m);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 275px;
    max-width: 275px;
    max-height: 550px;
    border-radius: var(--app-border-m);
    text-align: center;
}

.title-logout {
    margin: var(--app-padding-s);
    color: var(--app-bgcolor-secondary);
    text-align: center;
    text-shadow: var(--app-color-letterB) 3px 3px 3px;
    font-size: 25px;
}

.btn-update-profile-logout,
.btn-my-padel-matches-logout,
.btn-logout-logout {
    width: 150px;
    height: 50px;
    margin: var(--app-margin-xs);
}

@media (width >= 768px) {
    .logout-container {
        padding: var(--app-padding-l);
        gap: var(--app-gap-m);
        width: 375px;
        max-width: 425px;
        max-height: 550px;
    }

    .title-logout {
        font-size: 35px;
    }

    .btn-update-profile-logout,
    .btn-my-padel-matches-logout,
    .btn-logout-logout {
        width: 180px;
        height: 60px;
    }
}
