#Logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--app-bgcolor-primary); */
    background-image: url('assets/fondo2BN.webp');
    background-position: center;
    background-size: cover;
    min-height: 92svh;
    gap: 50px;
}

.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    /* border: 2px solid var(--app-color-letterTwo); */
    /* margin: 20px; */
    padding: 20px;
    /* width: 75%; */
    background-color: #d6d6d6dd;
    color: var(--app-color-letterTwo);
    border-radius: 8px;
}

.logout-container > button {
    width: 175px;
}

.btn-logout:hover,
.btn-logout-yes:hover {
    background-color: var(--app-color-letterTwo);
    color: var(--app-color-letterOne);
    border: 2px solid var(--app-color-letterOne);
    box-shadow: 2px 2px var(--app-color-letterOne);
}
