#Logout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--app-padding-m);
    background-image: url("assets/fondo2BN.webp");
    background-position: center;
    background-size: cover;
    min-height: 92svh;
}

.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--app-padding-m);
    gap: var(--app-gap-m);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 275px;
    max-width: 275px;
    max-height: 550px;
    border-radius: var(--app-border-m);
    text-align: center;
}

.title-logout {
    margin: var(--app-padding-s);
    color: var(--app-bgcolor-secondary);
    text-align: center;
    text-shadow: var(--app-color-letterB) 3px 3px 3px;
    font-size: 25px;
}

.btn-update-profile-logout,
.btn-logout-logout {
    width: 175px;
    height: 60px;
}

.btn-back {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 50px;
    /* font-size: medium; */
}

@media (width >= 768px) {
    .logout-container {
        padding: var(--app-padding-xl);
        gap: var(--app-gap-m);
        width: 400px;
        max-width: 450px;
        max-height: 550px;
        font-size: x-large;
    }

    .title-logout {
        font-size: xx-large;
    }

    .btn-update-profile-logout,
    .btn-logout-logout {
        width: 250px;
        height: 60px;
    }

    .btn-back {
        width: 150px;
        height: 55px;
        font-size: large;
    }
    
    .img-btn-back {
        width: 35px;
        height: 35px;
    }
}
