button {
    margin: var(--app-margin-xxs);
    padding: var(--app-padding-xs) var(--app-padding-s);
    border-radius: var(--app-border-m);
    border: var(--app-border-xxs) solid var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs);
    background-color: var(--app-bgcolor-button);
    cursor: pointer;
    transition: all 0.5s;
}

button:hover {
    background-color: var(--app-bgcolor-secondary);
    color: var(--app-color-letterB);
    border: var(--app-border-xxs) solid var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs);
    transform: scale(1.07);
}

.btn-back-profile {
    background-color: var(--app-bgcolor-buttonBack);
    color: var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterB);
}

.btn-back-profile:hover {
    color: var(--app-color-letterB);
    border: var(--app-border-xxs) solid var(--app-color-letterW);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterW);
}
