.postPadelMatch-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    gap: 10px;
    background-color: #d6d6d6dd;
    color: var(--app-color-letterTwo);
}
