.postPadelMatch-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--app-padding-s);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 275px;
    max-width: 275px;
    max-height: 600px;
    border-radius: var(--app-border-m);
    text-align: center;
    font-size: small;
}

.title-postPadelMatchForm {
    color: var(--app-bgcolor-secondary);
    text-align: center;
    text-shadow: var(--app-color-letterB) 3px 3px 3px;
    font-size: 25px;
}

.data-container-postPadelMatchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.field-form,
.field-select {
    padding: var(--app-padding-xs);
}

.input-select-postPadelMatchForm {
    cursor: pointer;
}

.button-container-postPadelMatchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--app-padding-xs);
    gap: var(--app-gap-s);
    width: 100%;
}

.btn-create-postPadelMatchForm,
.btn-back-postPadelMatchForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 45px;
    padding: var(--app-padding-xxs);
}

.btn-back-postPadelMatchForm {
    background-color: var(--app-bgcolor-buttonBack);
    color: var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterB);
}

.btn-back-postPadelMatchForm:hover {
    background-color: var(--app-bgcolor-buttonBackHover);
    /* color: var(--app-color-letterB);
    border: var(--app-border-xxs) solid var(--app-color-letterW);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterW); */
}

.img-btn-back-postPadelMatchForm {
    width: 20px;
    height: 20px;
}

@media (width >= 425px) {
    .postPadelMatch-form {
        padding: var(--app-padding-s);
        width: 325px;
        max-width: 325px;
        max-height: 600px;
        font-size: medium;
    }

    .btn-create-postPadelMatchForm,
    .btn-back-postPadelMatchForm {
        width: 150px;
        height: 45px;
        font-size: medium;
    }

    .img-btn-back-postPadelMatchForm {
        width: 25px;
        height: 25px;
    }
}

@media (width >= 768px) {
    .postPadelMatch-form {
        width: 400px;
        max-width: 450px;
        max-height: 800px;
        font-size: x-large;
    }

    .title-postPadelMatchForm {
        font-size: 35px;
    }

    .data-container-postPadelMatchForm {
        width: 80%;
    }

    .field-form,
    .field-select {
        font-size: x-large;
    }

    .field-form > input {
        font-size: large;
    }

    .field-select > select {
        font-size: large;
        padding: var(--app-padding-xxs);
    }

    .btn-create-postPadelMatchForm,
    .btn-back-postPadelMatchForm {
        width: 100%;
        height: 60px;
        font-size: x-large;
    }

    .img-btn-back-postPadelMatchForm {
        width: 40px;
        height: 40px;
    }
}
