.btn-logout-yes,
.btn-logout-no {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 60px;
    font-size: medium;
}

.btn-logout-yes:hover {
    background-color: var(--app-bgcolor-buttonOff);
}

.img-btn-logout-yes,
.img-btn-logout-no {
    width: 25px;
    height: 25px;
}

@media (width >= 768px) {
    .logout-container > h2 {
        font-size: xx-large;
    }

    .btn-logout-yes,
    .btn-logout-no {
        width: 175px;
        height: 90px;
        font-size: x-large;
    }

    .img-btn-logout-yes,
    .img-btn-logout-no {
        width: 40px;
        height: 40px;
    }
}
