.btn-logout-yes,
.btn-logout-no {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 60px;
}

.btn-logout-yes:hover {
    background-color: var(--app-color-messageError);
}

.img-logout-yes,
.img-logout-no {
    width: 25px;
    height: 25px;
}

@media (width >= 768px) {
    .btn-logout-yes,
    .btn-logout-no {
        width: 250px;
        height: 90px;
        font-size: x-large;
    }

    .img-logout-yes,
    .img-logout-no {
        width: 40px;
        height: 40px;
    }
}
