.btn-logout-yes,
.btn-logout-no {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 60px;
}

.btn-logout-yes:hover {
    background-color: var(--app-color-messageError);
}

.img-btn-logout-yes,
.img-btn-logout-no {
    width: 25px;
    height: 25px;
}

@media (width >= 768px) {
    .logout-container > h2 {
        font-size: x-large;
    }

    .btn-logout-yes,
    .btn-logout-no {
        width: 150px;
        height: 70px;
        font-size: large;
    }

    .img-btn-logout-yes,
    .img-btn-logout-no {
        width: 30px;
        height: 30px;
    }
}
