#Home {
    min-height: 92svh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--app-gap-xxl);
}

#Home > h1 {
    font-size: 50px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--app-gap-m);
}

.home-container > h1,
h3 {
    max-width: 275px;
    line-height: 1.5;
    color: var(--app-bgcolor-secondary);
    text-shadow: var(--app-color-letterB) 2px 2px 2px;
}

@media (width >= 425px) {
    .home-container > h1,
    h3 {
        min-width: 350px;
        line-height: 1.5;
    }
}

@media (width >= 560px) {
    .home-container > h1,
    h3 {
        min-width: 500px;
        line-height: 1.5;
    }
}

@media (width >= 700px) {
    .home-container > h1,
    h3 {
        min-width: 600px;
    }
}
