#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 92svh;
    gap: var(--app-gap-xxl);
    background-size: cover;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--app-gap-m);
    text-align: center;
}

.home-container > h1 {
    font-family: var(--app-font-family);
    font-size: 50px;
}

.home-container > h1,
p {
    max-width: 275px;
    line-height: 1.5;
    color: var(--app-bgcolor-secondary);
    text-shadow: var(--app-color-letterB) 2px 2px 2px;
    cursor: default;
}

.home-container > img {
    width: 100px;
    height: 75px;
}

.button {
    font-size: medium;
}

@media (width >= 425px) {
    .home-container > p {
        max-width: 350px;
    }

    .home-container > img {
        width: 200px;
        height: 150px;
    }
}

@media (width >= 768px) {
    #Home {
        font-size: xx-large;
    }

    .button {
        font-size: x-large;
    }

    .btn-home-login,
    .btn-home-register {
        padding: var(--app-padding-s);
    }
}

@media (width >= 1024px) {
    .home-container > p {
        max-width: 650px;
    }

    .home-container > img {
        width: 150px;
        height: 100px;
    }
}
