#Home {
    min-height: 92svh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--app-gap-xxl);
}

#Home > h1 {
    font-size: 50px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--app-gap-m);
    color: var(--app-bgcolor-secondary);
    text-shadow: var(--app-color-letterB) 3px 3px 3px;
}

.home-container > h2 {
    max-width: 275px;
    line-height: 1.5;
}

.btn-home-login,
.btn-home-register {
    background-color: var(--app-bgcolor-secondary);
}

.btn-home-login:hover,
.btn-home-register:hover {
    background-color: var(--app-bgcolor-button);
}

@media (width <= 768px) {
    .home-container {
        color: var(--app-color-letterW);
        text-shadow: var(--app-color-letterB) 3px 3px 3px;
    }

    .btn-home-login,
.btn-home-register {
    background-color: var(--app-bgcolor-button);
}

.btn-home-login:hover,
.btn-home-register:hover {
    background-color: var(--app-bgcolor-secondary);
}
}
