.confirm-delete-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--app-padding-m);
    gap: var(--app-gap-m);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 275px;
    max-width: 275px;
    max-height: 550px;
    border-radius: var(--app-border-m);
    text-align: center;
}

.profile-form > button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 60px;
}

.btn-delete-yes:hover,
.btn-logout-yes:hover {
    background-color: var(--app-color-messageError);
}

.img-delete-yes,
.img-delete-no {
    width: 25px;
    height: 25px;
}
@media (width >= 768px) {
    .confirm-delete-user {
        padding: var(--app-padding-xl);
        gap: var(--app-gap-l);
        width: 400px;
        max-width: 450px;
        max-height: 550px;
        font-size: x-large;
    }
    .profile-form > button {
        width: 250px;
        height: 90px;
        font-size: x-large;
    }

    .img-delete-yes,
.img-delete-no {
    width: 40px;
    height: 40px;
}
}