.field-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--app-border-m);
    padding: var(--app-padding-xs);
    gap: var(--app-gap-xxs);
}

.field-form > input {
    border-radius: var(--app-border-m);
    padding: var(--app-padding-xxs);
    border: none;
}
