.modal {
    display: flex;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 999;
}

.modal-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 500px;
    padding: var(--app-padding-xxs);
    gap: var(--app-gap-xs);
    background-color: var(--app-bgcolor-modal);
    border: var(--app-border-xxs) solid var(--app-color-letterB);
    border-radius: 20px;
    place-items: center;
    cursor: default;
}

.modal-title {
    padding: var(--app-padding-xxs);
    font-size: small;
}

.modal-img {
    display: flex;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.modal-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--app-padding-xxs);
    gap: var(--app-gap-xxs);
    line-height: 20px;
}

.modal-date,
.modal-location,
.modal-players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--app-gap-xs);
    line-height: 25px;
}

.modal-date-img,
.modal-location-img,
.modal-players-img {
    width: 15px;
    height: 15px;
}

.join-btn {
    display: flex;
    align-items: center;
    padding: var(--app-padding-xs);
    gap: var(--app-gap-s);
}

.join-btn:hover {
    background-color: var(--app-bgcolor-secondary);
    transform: scale(1.07);
}

.completed-btn-img,
.removed-btn-img,
.joined-btn-img {
    width: 20px;
    height: 20px;
}

.modal-players-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    line-height: 10px;
}

.close-btn {
    width: 30px;
    height: 30px;
    margin: var(--app-margin-xxs);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s;
}

.close-btn:hover {
    transform: scale(1.1);
}
