.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 50%;
    /* width: 90%; */
    transform: translateX(-50%);
    opacity: 1;
    z-index: 999;
}

.modal-container {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    padding: var(--app-padding-s);
    gap: var(--app-gap-s);
    background-color: var(--app-bgcolor-modal);
    border: var(--app-border-xxs) solid var(--app-color-letterB);
    border-radius: 20px;
    place-items: center;
    cursor: default;
    font-size: small;
}

.modal-title {
    font-size: large;
}

.modal-img {
    display: flex;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.modal-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--app-padding-xs);
    gap: var(--app-gap-xs);
    line-height: 20px;
}

.modal-date,
.modal-location,
.modal-players {
    display: flex;
    align-items: center;
    gap: var(--app-gap-xs);
    line-height: 25px;
}

.modal-date-img,
.modal-location-img,
.modal-players-img {
    width: 20px;
    height: 20px;
}

.join-btn {
    display: flex;
    align-items: center;
    padding: var(--app-padding-s);
    gap: var(--app-gap-xs);
}

.join-btn:hover {
    background-color: var(--app-bgcolor-secondary);
    transform: scale(1.07);
}

.completed-btn-img,
.removed-btn-img,
.joined-btn-img {
    width: 20px;
    height: 20px;
}

.modal-players-list {
    display: flex;
    justify-content: center;
    width: 245px;
    line-height: 10px;
    text-align: center;
}

.close-btn {
    width: 30px;
    height: 30px;
    margin: var(--app-margin-xxs);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.5s;
}

.close-btn:hover {
    transform: scale(1.1);
}

@media (width >= 425px) {
    .modal-container {
        width: 330px;
        max-width: 450px;
        padding: var(--app-padding-xxs);
        gap: var(--app-gap-xs);
        font-size: medium;
    }

    .modal-title {
        font-size: x-large;
    }

    .modal-img {
        width: 80px;
        height: 80px;
    }

    .modal-date,
    .modal-location,
    .modal-players {
        gap: var(--app-gap-xs);
    }

    .modal-date-img,
    .modal-location-img,
    .modal-players-img {
        width: 25px;
        height: 25px;
    }

    .join-btn {
        padding: var(--app-padding-s);
        gap: var(--app-gap-xs);
        font-size: medium;
    }

    .completed-btn-img,
    .removed-btn-img,
    .joined-btn-img {
        width: 25px;
        height: 25px;
    }

    .close-btn {
        width: 40px;
        height: 40px;
    }
}
