#PadelMatches {
    min-height: 92svh;
    background-color: var(--app-color-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
}

#PadelMatches > h1 {
    font-size: 50px;
}