#PadelMatches {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/partidoMadrid.webp");
    background-position: center;
    background-size: cover;
    min-height: 92svh;
}

#PadelMatches > h1 {
    padding: 30px;
    text-align: center;
    color: var(--app-bgcolor-secondary);
    text-shadow: var(--app-color-letterB) 3px 3px 3px;
}

.padel-match-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90%;
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    border-radius: 8px;
}

.padel-match-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 20px;
    padding: 20px;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: var(--app-bgcolor-cards);
    border-radius: 8px;
    border: 2px solid var(--app-bgcolor-secondary);
    box-shadow: 2px 2px var(--app-bgcolor-secondary);
}

.padel-match-card:hover {
    background-color: var(--app-bgcolor-secondary);
    border: 2px solid var(--app-color-letterB);
    box-shadow: 2px 2px var(--app-color-letterB);
}

.disable {
    cursor: not-allowed;
    opacity: 0;
    pointer-events: never;
}
