#PadelMatches {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--app-color-tertiary);
    min-height: 92svh;
}

#PadelMatches > h1 {
    padding: 30px;
    text-align: center;
}

.padel-match-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

.padel-match-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    margin: 20px;
    padding: 30px;
    gap: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.padel-match-card:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.padel-match-card-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid green;
    filter: grayscale();
}

.padel-match-card-image:hover {
    filter: none;
}

.error-message {
    margin-top: 20px;
    color: red;
}

.success-message {
    margin-top: 20px;
    color: red;
}

.player-padel-match {
    border: none;
    object-fit: cover;
    transition: all 0.5s;
}

.player-padel-match:hover {
    transform: scale(1.1);
}

.disable {
    cursor: not-allowed;
    opacity: 0;
    pointer-events: none;
}

.join-btn:hover {
    transition: all 0.5s;
}

.join-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px;
    transform: scale(1.1);
}