.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    gap: 10px;
    /* background-color: var(--app-bgcolor-tertiary); */
    background-color: #d6d6d6dd;
    color: var(--app-color-letterTwo);
    border-radius: 8px;
}

.profile-form > button {
    margin-top: 10px;
    width: 175px;
}

.profile-form > p {
    margin-top: 20px;
    color: var(--app-color-message);
}

.div-password {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(5px);
}

.bx {
    width: 15px;
    height: 15px;
    transform: translate(-35px, 75%);
    cursor: pointer;
}

.bx-show .bx-show {
    width: 15px;
    height: 15px;
    transform: translate(-35px, 75%);
    cursor: pointer;
}

.div-btn-update-profile {
    display: flex;
    gap: 10px;
}

.btn-delete-profile:hover {
    background-color: var(--app-color-message);
}

.btn-update-profile, .btn-delete-profile, .btn-back-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 10px; */
    /* padding: 10px; */
    gap: 10px;
}

.update-btn-img, .delete-btn-img, .back-btn-img {
    width: 25px;
    height: 25px;
}
