.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--app-padding-s);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 275px;
    max-width: 275px;
    max-height: 630px;
    border-radius: var(--app-border-m);
    text-align: center;
    font-size: medium;
}

.div-btn-update-profile {
    display: flex;
    padding: var(--app-padding-s);
}

.div-btn-update-profile > button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    height: 50px;
}

.btn-update-profile,
.btn-delete-profile,
.btn-back-profile {
    justify-content: space-evenly;
    padding: var(--app-padding-xxs);
    font-size: small;
}

.btn-delete-profile:hover {
    background-color: var(--app-color-messageError);
}

.update-btn-img,
.delete-btn-img,
.back-btn-img {
    width: 20px;
    height: 20px;
}

@media (width >= 425px) {
    .profile-form {
        padding: var(--app-padding-xs);
        width: 355px;
        max-width: 350px;
        max-height: 670px;
        font-size: medium;
    }

    .div-btn-update-profile > button {
        width: 150px;
        height: 45px;
    }

    .btn-update-profile,
    .btn-delete-profile,
    .btn-back-profile {
        font-size: medium;
    }

    .update-btn-img,
    .delete-btn-img,
    .back-btn-img {
        width: 25px;
        height: 25px;
    }
}
@media (width >= 768px) {
    .profile-form {
        padding: var(--app-padding-m);
        width: 550px;
        max-width: 600px;
        max-height: 840px;
        font-size: x-large;
    }

    .div-btn-update-profile {
        padding: var(--app-padding-m);
    }

    .div-btn-update-profile > button {
        width: 220px;
        height: 70px;
    }

    .btn-update-profile,
    .btn-delete-profile,
    .btn-back-profile {
        font-size: x-large;
    }

    .update-btn-img,
    .delete-btn-img,
    .back-btn-img {
        width: 40px;
        height: 40px;
    }
}