header {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 8svh;
    padding: var(--app-padding-m);
    background-color: var(--app-bgcolor-secondary);
    z-index: 9999;
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--app-bgcolor-secondary);
    padding: var(--app-padding-m);
    gap: var(--app-gap-m);
    border-radius: 0px 0px var(--app-border-l) var(--app-border-l);
    box-shadow: 0 0 0 100vmax var(--app-bgcolor-body);
    transition: 1s;
    transform: translate3d(0px, -100%, 0px);
    opacity: 0;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
}

.logo {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin: var(--app-padding-xs);
    width: 75px;
    height: 50px;
}

.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--app-gap-m);
}

.ul > li {
    display: flex;
    padding: var(--app-padding-m);
}

.ul > li > a {
    color: var(--app-color-letterB);
    font-weight: 900;
    font-size: large;
    list-style: none;
}

@media (width >= 425px) {
    /* a {
        font-size: xx-large;
    } */
}

@media (width >= 650px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav {
        display: none;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 8svh;
        border-radius: none;
        box-shadow: none;
        transition: none;
        transform: none;
        opacity: 1;
    }

    .logo {
        opacity: 0;
    }

    .ul {
        position: absolute;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media (width >= 768px) {
    a {
        font-size: 150px;
    }
}

@media (width >= 880px) {
    .logo {
        opacity: 1;
    }
}

/* @media <= 400 */
/* .img-open,
    .img-close {
        display: block;
        cursor: pointer;
    } */
/* .nav.visible {
        opacity: 1;
        visibility: visible;
    } */
/* .nav {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        top: 0;
        right: 0;
        background-color: coral;
        padding: var(--app-padding-l);
        gap: var(--app-gap-s);
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    } */
/* .ul {
        flex-direction: column;
        align-items: end;
    } */

/* .visible {
    opacity: 1;
    visibility: visible;
} */
/* ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 60px;
    right: 0;
    padding: var(--app-padding-l);
    gap: var(--app-gap-xxl);
    background-color: var(--app-bgcolor-secondary);
    border-radius: var(--app-border-m) 0px var(--app-border-m) var(--app-border-m);
} */
/* ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
} */

/* @media (width <= 550px) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul {
        flex-direction: column;
        align-items: end;
    }
} 
    */
