header {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 8svh;
    padding: var(--app-padding-m);
    background-color: var(--app-bgcolor-secondary);
    z-index: 9999;
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--app-bgcolor-secondary);
    padding: var(--app-padding-m);
    gap: var(--app-gap-m);
    border-radius: 0px 0px var(--app-border-l) var(--app-border-l);
    box-shadow: 0 0 0 100vmax var(--app-bgcolor-body);
    transition: 0.5s;
    transform: translate3d(0px, -100%, 0px);
    opacity: 0;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
}

.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--app-gap-m);
}

.ul > li {
    display: flex;
    padding: var(--app-padding-m);
}

.ul > li > a {
    color: var(--app-color-letterB);
    font-weight: 900;
    font-size: large;
    list-style: none;
}

@media (width >= 425px) {
    /* a {
        font-size: xx-large;
    } */
}

@media (width >= 650px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav {
        display: none;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 8svh;
        border-radius: none;
        box-shadow: none;
        transition: none;
        transform: none;
        opacity: 1;
    }

    .ul {
        position: absolute;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media (width >= 768px) {
    a {
        font-size: 150px;
    }
}
