.register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--app-padding-s);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 270px;
    max-width: 270px;
    max-height: 600px;
    border-radius: var(--app-border-m);
    text-align: center;
    font-size: x-small;
}

/* .field-form {
    padding: var(--app-padding-xs);
} */

/* input {
    width: 150px;
    height: 15px;
    font-size: x-small;
} */

/* .input-image {
    width: 140px;
} */

.btn-register-form,
.btn-back-register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    padding: var(--app-padding-xxs);
    /* font-size: small; */
}

.btn-back-register-form {
    background-color: var(--app-bgcolor-buttonBack);
    color: var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterB);
    gap: var(--app-gap-xxs);
}

.btn-back-register-form:hover {
    background-color: var(--app-bgcolor-secondary);
    color: var(--app-color-letterB);
    border: var(--app-border-xxs) solid var(--app-color-letterW);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterW);
}

.img-back-register-form {
    width: 20px;
    height: 20px;
}
