.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--app-padding-s);
    background-color: var(--app-bgcolor-body);
    color: var(--app-color-letterB);
    width: 275px;
    max-width: 275px;
    max-height: 600px;
    border-radius: var(--app-border-m);
    text-align: center;
    font-size: small;
}

.data-container-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.i-register {
    position: absolute;
    width: 15px;
    height: 15px;
    transform: translate(90px, -200%);
    cursor: pointer;
}

.input-file-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: var(--app-margin-xs);
    width: 180px;
    height: 40px;
    border: var(--app-border-xxs) solid var(--app-color-letterB);
    background-color: var(--app-bgcolor-button);
    cursor: pointer;
    transition: all 0.5s;
}

.input-file-container > label {
    cursor: pointer;
}

.input-file-container:hover {
    transform: scale(1.03);
    transition: all 1s;
    background-color: var(--app-bgcolor-body);
}

.input-file {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.button-container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--app-padding-xs);
    gap: var(--app-gap-s);
    width: 100%;
}

.btn-create-register,
.btn-back-register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: 45px;
    padding: var(--app-padding-xxs);
}

.btn-back-register {
    background-color: var(--app-bgcolor-buttonBack);
    color: var(--app-color-letterB);
    box-shadow: var(--app-border-xxs) var(--app-border-xxs) var(--app-color-letterB);
    gap: var(--app-gap-xxs);
}

.btn-back-register:hover {
    background-color: var(--app-bgcolor-buttonBackHover);
}

.img-btn-back-register {
    width: 20px;
    height: 20px;
}

@media (width >= 425px) {
    .register-form {
        width: 325px;
        max-width: 325px;
        max-height: 800px;
        font-size: medium;
    }

    .input-name-register,
    .input-email-register,
    .input-password,
    .input-phone-register {
        width: 220px;
        height: 30px;
    }

    .i-register {
        transform: translate(110px, -215%);
    }

    .btn-create-register,
    .btn-back-register {
        width: 150px;
        height: 45px;
        font-size: medium;
    }

    .img-back-register {
        width: 25px;
        height: 25px;
    }
}

@media (width >= 768px) {
    .register-form {
        width: 400px;
        max-width: 450px;
        max-height: 800px;
        font-size: x-large;
    }

    .data-container-register {
        width: 300px;
        font-size: x-large;
    }

    .input-name-register,
    .input-email-register,
    .input-password,
    .input-phone-register {
        font-size: large;
    }

    .i-register {
        transform: translate(105px, -250%);
    }

    .input-file-container {
        width: 180px;
        height: 50px;
        margin: var(--app-margin-s);
    }

    .btn-create-register,
    .btn-back-register {
        width: 100%;
        height: 60px;
        font-size: x-large;
    }

    .img-btn-back-register {
        width: 40px;
        height: 40px;
    }
}
