.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.filter-container > p {
    background-color: white;
}

.btn-filter-uncompleted {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: medium;
}

.btn-show-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: medium;
}

.btn-show-all:hover {
    background-color: var(--app-bgcolor-modal);
}
