.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 30px;
    gap: 10px;
    /* background-color: var(--app-bgcolor-primary);
    color: var(--app-color-letterOne); */
    background-color: #d6d6d6dd;
    color: var(--app-color-letterTwo);
    border-radius: 8px;
}

i {
    color: var(--app-color-letterTwo);
}

.register-form > p {
    margin-top: 20px;
    color: var(--app-color-message);
}

.div-password {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(5px);
}

.bx {
    width: 15px;
    height: 15px;
    transform: translate(-35px, 75%);
    cursor: pointer;
}

.bx-show .bx-show {
    width: 15px;
    height: 15px;
    transform: translate(-35px, 75%);
    cursor: pointer;
}
